.flex-container{
    display:flex;
    width:250px;
    height:200px;
    background:lightgray;
}
.flex-container div {
    width:70px;
    height:70px;
    background-color: #7ff9ae;
    border: 1px solid black;
}